ArxivNews/ArxivArticlesImportWorkflow.json
{
  "name": "ArxivArticlesImportWorkflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -208
      ],
      "id": "c8a2f06c-0e6e-431a-8e33-9a4182cc2dbb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=http://export.arxiv.org/api/query?search_query=submittedDate:[{{ $now.minus(3, 'days').format('yyyyMMdd') }}+TO+{{ $now.format('yyyyMMdd') }}]&max_results=50",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -32,
        -208
      ],
      "id": "a5e55ffa-b7d3-47af-b66a-3b98b047ac85",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Тебе дана следующая статья:\n\nЗаголовок статьи: {{ $json.title }} \nДата публикации: {{ $json.pubDate }}\nАвтор: {{ $json.author }}\nSummary: {{ $json.summary }}\n\nОпредели, относится ли эта статья к теме искусственного интеллекта. Ключевые темы, которые считаются релевантными: AI, LLM, MCP, RAG, Computer vision, AI-agents.\n\nВ случае, если статья релевантна заданным тематикам, выдай ответ \"да\" и сделай каткий пересказ статьи НА РУССКОМ ЯЗЫКЕ, основываясь на Summary. Иначе выдай ответ \"нет\".",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        192,
        -208
      ],
      "id": "c53f6190-7845-485e-8851-7afb2356a985",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-4b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        64,
        48
      ],
      "id": "7e0349b5-311e-40c6-b295-90d33a65bc2c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "KkBIOMULAlSnyjdK",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"is_relevant\": \"bool\",\n\t\"title\": \"string\",\n    \"publication date\": \"string\",\n    \"link\": \"string\",\n    \"author\": \"string\",\n    \"summary\": \"string\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        256,
        16
      ],
      "id": "8e576183-739a-4623-8072-ea758faabf32",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        256,
        176
      ],
      "id": "549c9366-3e77-4949-855a-7ab78d67f15d",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "KkBIOMULAlSnyjdK",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dc5e4f75-4d14-4364-870c-e267a52fab90",
              "leftValue": "={{ $json.output.is_relevant }}",
              "rightValue": "=да",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        528,
        -208
      ],
      "id": "06febe2e-28ec-42dd-9195-eac63d81a419",
      "name": "Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Тебе дана следующая статья:\n\nЗаголовок статьи: {{ $json.output.title }}\nДата публикации: {{ $json.output['publication date'] }}\nАвтор: {{ $json.output.author }}\nSummary: {{ $json.output.summary }}\n\nДай ей оценку, на сколько статья является интересной. Оценка представляет собой число от 1 до 10, где 1 -- совсем не интересная статья, 10 -- максимально интересная. Очки начисляются в соответствии с тематикой статьи следующим образом:\n\n1-4 очка: применение искусственного интеллекта в областях медицины, биологии, кибербезопасности. Исследования тривиальных сфер машинного обучения, например оптимизации классических моделей. \n5-7 очков: исследования в области безопасности нейронных сетей, MCP, RAG. Применение нейронных сетей и AI агентов в отрослях промышленности.\n8-10 очков: разработка принципиально новых способов обучения нейросетей, новые архитектуры, state of the art решения, новые технологии в сфере llm, оптимизации llm, внедрение компьютерного зрения в рабочие процессы, внедрение ai-агентов в рабочие процессы.\n10 очков: смешные новости про ИИ",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        784,
        -208
      ],
      "id": "a37b942b-e172-4051-8e54-e0b71c1460c0",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        704,
        16
      ],
      "id": "b98146da-2bba-4a78-8274-94112a0a7169",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "KkBIOMULAlSnyjdK",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"score\": \"integer\",\n    \"title\": \"string\",\n    \"publication date\": \"string\",\n    \"link\": \"string\",\n    \"author\": \"string\",\n    \"summary\": \"string\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        864,
        32
      ],
      "id": "413e1b2a-6d88-45ba-b39c-2ec502eb742d",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        864,
        208
      ],
      "id": "bf1ce51c-5cb7-471f-8f3d-1433878475c4",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "KkBIOMULAlSnyjdK",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e3fa9e3e-1884-4c36-962a-f0a25c9c7a23",
              "leftValue": "={{ $json.output.score.toNumber() }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1136,
        -208
      ],
      "id": "3cd8a1bb-99b1-48ee-8d31-31c6219131d7",
      "name": "Filter1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        48
      ],
      "id": "ef259725-c6fa-4aee-b423-41b1dc9b0813",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "448541908",
        "text": "=Подборка статей с портала axiv:  \n\nСтатья: {{ $json.output.title }} \nТема: {{ $json.output.summary }} \n\n================================ \n\nСсылка: {{ $json.output.link }} \nДата публикации: {{ $json.output['publication date'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1856,
        -160
      ],
      "id": "1368e6b4-1355-4296-a00d-9472a8f9a891",
      "name": "Send a text message",
      "webhookId": "a3e64116-7522-4658-8f51-1fae0efaecc6",
      "credentials": {
        "telegramApi": {
          "id": "IzLSodskkABWnmyk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        -16
      ],
      "id": "2f38b44a-1b3e-4f99-91ba-109b98991cd3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into arxiv_records (title, link, author, pub_date, summary, status) values ('', '', '', '', '', 'new') on conflict (title) do nothing;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1584,
        128
      ],
      "id": "7d3bba69-5c86-43e5-9510-7e4b756d3241",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "HEISjzHlux3ynqCy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from arxiv_records where status = 'new' or status = 'queued' limit 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1600,
        -384
      ],
      "id": "b33eb90c-26bb-4e40-b1ee-6fb4a232ebba",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "HEISjzHlux3ynqCy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2064,
        -160
      ],
      "id": "6c0b5d22-8f0b-4ca5-8eac-3e2337ebb58e",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update arxiv_records set status = 'shown'  where title = '';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2304,
        32
      ],
      "id": "441803f5-e3b8-46eb-aaa2-ce82e68fb4ba",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "HEISjzHlux3ynqCy",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d08bfc5e-adf3-417a-99ac-04cb707bbb49",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea69808ddc776ea0a5c94c9b857695fe5340287996de009a12bbc52fb9ff1e00"
  },
  "id": "v1oEfFAk6rgqKfyXHAnuW",
  "tags": []
}