ArxivNews/ArxivArticlesImportWorkflow.json
{
  "name": "ArxivArticlesImportWorkflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3680,
        -16
      ],
      "id": "adae2dc5-8075-4867-aeec-bd7b5322ad5e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=http://export.arxiv.org/api/query?search_query=submittedDate:[{{ $now.minus(3, 'days').format('yyyyMMdd') }}+TO+{{ $now.format('yyyyMMdd') }}]&max_results=50",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -2416,
        192
      ],
      "id": "40a492e4-bf4b-4048-b60d-d77d2f882c5a",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Тебе дана следующая статья:\n\nЗаголовок статьи: {{ $json.title }} \nДата публикации: {{ $json.pubDate }}\nАвтор: {{ $json.author }}\nSummary: {{ $json.summary }}\n\nОпредели, относится ли эта статья к теме искусственного интеллекта. Ключевые темы, которые считаются релевантными: AI, LLM, MCP, RAG, Computer vision, AI-agents.\n\nВ случае, если статья релевантна заданным тематикам, выдай ответ \"да\" и сделай каткий пересказ статьи НА РУССКОМ ЯЗЫКЕ, основываясь на Summary. Иначе выдай ответ \"нет\".",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1872,
        448
      ],
      "id": "eb0a392e-93e4-49e0-b81a-dce49fa8e27d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"is_relevant\": \"bool\",\n\t\"title\": \"string\",\n    \"publication date\": \"string\",\n    \"link\": \"string\",\n    \"author\": \"string\",\n    \"summary\": \"string\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1680,
        752
      ],
      "id": "85df0e7b-0091-4106-82d1-fcd7c52b8c3f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1680,
        944
      ],
      "id": "fc225e68-742c-4464-9c8e-975d4245cbc0",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "83QmB5iRF2TuqiXX",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dc5e4f75-4d14-4364-870c-e267a52fab90",
              "leftValue": "={{ $json.output.is_relevant }}",
              "rightValue": "=да",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -1680,
        176
      ],
      "id": "231f7b25-a041-47a5-91f6-8ca27acad2b2",
      "name": "Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Тебе дана следующая статья:\n\nЗаголовок статьи: {{ $json.output.title }}\nДата публикации: {{ $json.output['publication date'] }}\nАвтор: {{ $json.output.author }}\nSummary: {{ $json.output.summary }}\n\nДай ей оценку, на сколько статья является интересной. Оценка представляет собой число от 1 до 10, где 1 -- совсем не интересная статья, 10 -- максимально интересная. Очки начисляются в соответствии с тематикой статьи следующим образом:\n\n1-4 очка: применение искусственного интеллекта в областях медицины, биологии, кибербезопасности. Исследования тривиальных сфер машинного обучения, например оптимизации классических моделей. \n5-7 очков: исследования в области безопасности нейронных сетей, MCP, RAG. Применение нейронных сетей и AI агентов в отрослях промышленности.\n8-10 очков: разработка принципиально новых способов обучения нейросетей, новые архитектуры, state of the art решения, новые технологии в сфере llm, оптимизации llm, внедрение компьютерного зрения в рабочие процессы, внедрение ai-агентов в рабочие процессы.\n10 очков: смешные новости про ИИ",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1040,
        448
      ],
      "id": "5b8ad37f-42ae-4224-b9a9-34c19d65751f",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1040,
        688
      ],
      "id": "9fbc3190-2356-4863-91b2-1d6f49b53332",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "83QmB5iRF2TuqiXX",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"score\": \"integer\",\n    \"title\": \"string\",\n    \"publication date\": \"string\",\n    \"link\": \"string\",\n    \"author\": \"string\",\n    \"summary\": \"string\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -864,
        752
      ],
      "id": "f416b8c0-c96d-4649-bf26-a9e8a863581d",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -864,
        960
      ],
      "id": "38bb8054-0fc4-494b-b84d-165c08f8abae",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "83QmB5iRF2TuqiXX",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e3fa9e3e-1884-4c36-962a-f0a25c9c7a23",
              "leftValue": "={{ $json.output.score.toNumber() }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -960,
        160
      ],
      "id": "1d22d4eb-242b-4219-930c-726e6e22a19e",
      "name": "Filter1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3680,
        304
      ],
      "id": "378a23b1-ea5c-4bf5-a594-441de20a438f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "448541908",
        "text": "=Подборка статей с портала axiv:  \n\nСтатья:  {{ $json.title }}\nТема: {{ $json.summary }}\n\n================================ \n\nСсылка: {{ $json.link }}\nДата публикации: {{ $json.pub_date }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        80
      ],
      "id": "42a132fb-7fd0-4482-b863-99eb013c86db",
      "name": "Send a text message",
      "webhookId": "a3e64116-7522-4658-8f51-1fae0efaecc6",
      "credentials": {
        "telegramApi": {
          "id": "HQsQOxndfPcopH7P",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2128,
        192
      ],
      "id": "bcece1a3-7ecf-4dec-a259-5bfdbf19a259",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1280,
        176
      ],
      "id": "a286b717-0862-4c62-8afa-4512d0b41302",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1872,
        736
      ],
      "id": "63d88ad3-77e7-42e4-8699-e9e1a5051130",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "83QmB5iRF2TuqiXX",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "arxiv_records",
          "mode": "list",
          "cachedResultName": "arxiv_records"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.output.title }}",
            "link": "={{ $json.output.title }}",
            "author": "={{ $json.output.author }}",
            "pub_date": "={{ $json.output[\"publication date\"] }}",
            "summary": "={{ $json.output.summary }}",
            "status": "new"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pub_date",
              "displayName": "pub_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "shown",
                  "value": "shown"
                },
                {
                  "name": "queued",
                  "value": "queued"
                },
                {
                  "name": "new",
                  "value": "new"
                }
              ]
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -592,
        160
      ],
      "id": "3d692c0d-64f8-40ea-a118-f0bcbb80b42a",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "w9tRCdysEHVZnfq6",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "arxiv_records",
          "mode": "list",
          "cachedResultName": "arxiv_records"
        },
        "limit": 5,
        "where": {
          "values": [
            {
              "column": "status",
              "value": "new"
            },
            {
              "column": "status",
              "value": "queued"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -304,
        -128
      ],
      "id": "2b3baf30-ff19-4b1e-946b-10087b3fe87e",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "w9tRCdysEHVZnfq6",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "arxiv_records",
          "mode": "list",
          "cachedResultName": "arxiv_records"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "shown",
            "title": "={{ $json.title }}"
          },
          "matchingColumns": [
            "title"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pub_date",
              "displayName": "pub_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "shown",
                  "value": "shown"
                },
                {
                  "name": "queued",
                  "value": "queued"
                },
                {
                  "name": "new",
                  "value": "new"
                }
              ]
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        -128
      ],
      "id": "a83b0cbe-3a8b-47c6-837c-22af79a4b78a",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "w9tRCdysEHVZnfq6",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        208,
        -128
      ],
      "id": "7d0d6624-d471-4902-8888-04c3fec5b00d",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*)\nFROM\n  arxiv_records\nWHERE\n  status = 'new'\n  OR status = 'queued';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3280,
        -16
      ],
      "id": "2cda5aca-4dd1-4255-860c-b9faf92b2c2e",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "w9tRCdysEHVZnfq6",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "69ed6bf1-6c99-412a-b98f-e587b59b34ef",
              "leftValue": "={{ $json.count.toNumber() }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2960,
        -128
      ],
      "id": "af895433-7997-436d-9526-b5671aaac434",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cba346f6-f85b-41c5-8865-a2f9ba1a8c53",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9103db679eecd46b75b1435147504e73bafd7c34178c3769e37858292b9a7fbe"
  },
  "id": "XC88fnXkJpCX1xTyWmL2-",
  "tags": []
}