KaggleCompetitions/KaggleCompetitions.json
{
  "name": "KaggleCompetitions",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        832,
        1168
      ],
      "id": "22032c67-7fc3-41e6-90be-79992e32dd32",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "kaggle_competitions",
          "mode": "list",
          "cachedResultName": "kaggle_competitions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.output.Title }}",
            "link": "={{ $json.output.Link }}",
            "date_start": "={{ $json.output[\"Date start\"] }}",
            "deadline": "={{ $json.output.Deadline }}",
            "status": "new",
            "description": "={{ $json.output.Description }}",
            "type": "={{ $json.output.Type }}"
          },
          "matchingColumns": [
            "title"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "date_start",
              "displayName": "date_start",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "deadline",
              "displayName": "deadline",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "shown",
                  "value": "shown"
                },
                {
                  "name": "queued",
                  "value": "queued"
                },
                {
                  "name": "new",
                  "value": "new"
                }
              ]
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1648,
        1152
      ],
      "id": "05b026d3-5809-4af1-a910-ffafb179a4d5",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "aYxP7nIvdi4ddybM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "kaggle_competitions",
          "mode": "list",
          "cachedResultName": "kaggle_competitions"
        },
        "where": {
          "values": [
            {
              "column": "status",
              "value": "new"
            },
            {
              "column": "status",
              "value": "queued"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2224,
        976
      ],
      "id": "5ff4ca9a-b1ee-4d50-8b85-a3ee8da8ff85",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "aYxP7nIvdi4ddybM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "kaggle_competitions",
          "mode": "list",
          "cachedResultName": "kaggle_competitions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "shown",
            "title": "={{ $json.title }}"
          },
          "matchingColumns": [
            "title"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_start",
              "displayName": "date_start",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deadline",
              "displayName": "deadline",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "shown",
                  "value": "shown"
                },
                {
                  "name": "queued",
                  "value": "queued"
                },
                {
                  "name": "new",
                  "value": "new"
                }
              ]
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2752,
        800
      ],
      "id": "bcf749ae-5804-4d16-befa-43a1a774783c",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "aYxP7nIvdi4ddybM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "448541908",
        "text": "Sorry, have no access to the kaggle competition service",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        1680
      ],
      "id": "63b57926-ebde-4507-a5be-cadeef387d4d",
      "name": "Send a text message1",
      "webhookId": "e07a5aa3-06ff-4348-807d-fcb26e6e5499",
      "credentials": {
        "telegramApi": {
          "id": "ZVi0PuveqVwl4Gwn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1904,
        1152
      ],
      "id": "6f8820b7-957c-4874-8b20-07de139db993",
      "name": "Limit1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2752,
        976
      ],
      "id": "b302621d-5002-42d3-be0d-233744189e49",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/health",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        1488
      ],
      "id": "bfe0e3e4-d0c2-4015-b80e-aa3d344ac96f",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "657ee4ce-d9c4-4df3-adc6-ef14647bafd7",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        1488
      ],
      "id": "20f51d82-88b5-4c7c-bb03-d3a13dc41afe",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/competitions",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        1168
      ],
      "id": "cbde64a8-56c2-477d-8d2f-c9765b020518",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        1168
      ],
      "id": "6a37ab8e-bb47-41b4-b7db-56f8ad43d736",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "maxItems": 50
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        608,
        1168
      ],
      "id": "c92ec80b-4950-4e64-b2c8-7e6ff3f344be",
      "name": "Limit2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты -- эксперт-оценщик kaggle соревнований. Тебе дано соревнование:\n\nНазвание: {{ $json.competition_title }}\nСсылка: {{ $json.link }}\n\nИспользуй ОПИСАНИЕ соревнования и его ТЭГИ, чтобы определить, к какой сфере машинного обучения относится это соревнование: CLASSIC ML, LLM/NLP, CV или какая-то другая категория Other.\n\nОПИСАНИЕ: {{ $json.description }}\nТЭГИ: {{ $json.tags }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1072,
        1376
      ],
      "id": "dbb8eaf2-640f-4180-aab2-7602f795c21b",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Title\": \"string\",\n    \"Link\": \"string\",\n    \"Date start\": \"string\",\n    \"Deadline\": \"string\",\n    \"Description\": \"string\",\n    \"Type\": \"string\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1280,
        1632
      ],
      "id": "020e64c8-7518-434d-b3b2-155f6afb14d3",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1280,
        1824
      ],
      "id": "fd577414-9ca2-4e86-9395-a75f4cf20244",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "wn1ZH7HCnd9TGlBi",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1072,
        1648
      ],
      "id": "b8ac0a70-ea19-4dc9-ac47-85730c8d1c2b",
      "name": "OpenRouter Chat Model5",
      "credentials": {
        "openRouterApi": {
          "id": "wn1ZH7HCnd9TGlBi",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "448541908",
        "text": "=Kaggle соревнование:\n\nTitle: {{ $json.output.Title }}\nLink: {{ $json.output.Link }}\nDeadline: {{ $json.output.Deadline }}\nTheme: {{ $json.output.Type }}\n\nОписание: \n{{ $json.output.Description }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3168,
        960
      ],
      "id": "722f46b2-d740-4280-8d82-b5ea2bc2607b",
      "name": "Send a text message2",
      "webhookId": "e07a5aa3-06ff-4348-807d-fcb26e6e5499",
      "credentials": {
        "telegramApi": {
          "id": "ZVi0PuveqVwl4Gwn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d24a81c2-a291-4fc2-b4f5-bf130608da1e",
              "leftValue": "={{ $json.output.Type }}",
              "rightValue": "LLM/NLP",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "0c7d939a-32e4-4dbf-bd4c-a932b317320f",
              "leftValue": "={{ $json.output.Type }}",
              "rightValue": "CV",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7be65351-ef00-4336-8037-d27ebdc5ac0c",
              "leftValue": "={{ $json.output.Type }}",
              "rightValue": "CLASSIC ML",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1120,
        1152
      ],
      "id": "a2e36b1e-2d5e-4138-bd4c-ab18661e4322",
      "name": "Filter2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d7c43529-1799-4a0b-a741-e73d977fd749",
              "leftValue": "={{ $json.output[\"Date start\"] }}",
              "rightValue": "=\\d{4}-\\d{2}-\\d{2}",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1392,
        1152
      ],
      "id": "a91ff76f-86d1-4627-8f66-418fe2aab470",
      "name": "Filter3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Перепиши описание kaggle соревнования на РУССКИЙ ЯЗЫК: {{ $json.description }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2976,
        1184
      ],
      "id": "e3fe30b4-1a2c-4bbc-a1ef-7858c3cc8dda",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Title\": \"string\",\n    \"Link\": \"string\",\n    \"Date start\": \"string\",\n    \"Deadline\": \"string\",\n    \"Description\": \"string\",\n    \"Type\": \"string\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3168,
        1472
      ],
      "id": "9759fd0e-c703-47a6-9cfa-a70b55e29a04",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3168,
        1648
      ],
      "id": "0feee60b-8922-41d4-b3b4-7c6c0f052bb2",
      "name": "OpenRouter Chat Model6",
      "credentials": {
        "openRouterApi": {
          "id": "wn1ZH7HCnd9TGlBi",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2976,
        1472
      ],
      "id": "e2ea56c2-23fc-41bd-aacb-07f5acc7fde3",
      "name": "OpenRouter Chat Model7",
      "credentials": {
        "openRouterApi": {
          "id": "wn1ZH7HCnd9TGlBi",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1344,
        976
      ],
      "id": "afecab6e-55c2-4b2b-b83c-f406204a05c5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COUNT(*)\nFROM\n  kaggle_competitions\nWHERE\n  status = 'new'\n  OR status = 'queued';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -992,
        976
      ],
      "id": "d9444c88-a5be-47b7-be53-1268ca61bf65",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "aYxP7nIvdi4ddybM",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1344,
        1216
      ],
      "id": "fc2630b4-ab51-48ca-84a2-73dd8204bc0c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "454840ee-049b-41c8-9535-83cf3393be00",
              "leftValue": 0,
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -752,
        976
      ],
      "id": "555f0e2c-ac8b-4b62-89ef-3a1830ecf4a3",
      "name": "If"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2400,
        976
      ],
      "id": "59393fe2-5c7f-4ede-b2b2-c0607acf8f5c",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "eb1edde1-0e2f-490e-82b4-40c152e14417",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b82d1e09bc2f7399b502f6eb08ca27abeb2a44dd15ab54c3464a91f97445a6c2"
  },
  "id": "3YEHpNJ_7anidhUc4psQu",
  "tags": []
}