KaggleCompetitions/KaggleCompetitions.json
{
  "name": "KaggleCompetitions",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1104,
        336
      ],
      "id": "ec916b74-92ec-4214-8d20-c35c027169d4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "kaggle_competitions",
          "mode": "list",
          "cachedResultName": "kaggle_competitions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.output.Title }}",
            "link": "={{ $json.output.Link }}",
            "date_start": "={{ $json.output[\"Date start\"] }}",
            "deadline": "={{ $json.output.Deadline }}",
            "status": "new",
            "description": "={{ $json.output.Description }}",
            "type": "={{ $json.output.Type }}"
          },
          "matchingColumns": [
            "title"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "date_start",
              "displayName": "date_start",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "deadline",
              "displayName": "deadline",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "shown",
                  "value": "shown"
                },
                {
                  "name": "queued",
                  "value": "queued"
                },
                {
                  "name": "new",
                  "value": "new"
                }
              ]
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1920,
        320
      ],
      "id": "a4f4db8b-cae7-4189-858f-091e0c144728",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "w9tRCdysEHVZnfq6",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "kaggle_competitions",
          "mode": "list",
          "cachedResultName": "kaggle_competitions"
        },
        "where": {
          "values": [
            {
              "column": "status",
              "value": "new"
            },
            {
              "column": "status",
              "value": "queued"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2496,
        144
      ],
      "id": "f6605da3-38f0-4fb1-b69c-965a1a675bfe",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "w9tRCdysEHVZnfq6",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "kaggle_competitions",
          "mode": "list",
          "cachedResultName": "kaggle_competitions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "shown",
            "title": "={{ $json.title }}"
          },
          "matchingColumns": [
            "title"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_start",
              "displayName": "date_start",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deadline",
              "displayName": "deadline",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "shown",
                  "value": "shown"
                },
                {
                  "name": "queued",
                  "value": "queued"
                },
                {
                  "name": "new",
                  "value": "new"
                }
              ]
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3680,
        352
      ],
      "id": "bd2114e3-d671-43d4-b8e5-6e72266e4cc2",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "w9tRCdysEHVZnfq6",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "448541908",
        "text": "Sorry, have no access to the kaggle competition service",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        848
      ],
      "id": "273791a6-1c96-4368-8ec3-8bea90e9aa7c",
      "name": "Send a text message1",
      "webhookId": "e07a5aa3-06ff-4348-807d-fcb26e6e5499",
      "credentials": {
        "telegramApi": {
          "id": "HQsQOxndfPcopH7P",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2176,
        320
      ],
      "id": "dbdeddac-4485-4480-bc15-b56279c743bb",
      "name": "Limit1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3024,
        144
      ],
      "id": "df19ee23-1db1-4445-b8d4-2f3cbb8ca8ad",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/health",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -128,
        656
      ],
      "id": "a7084c49-f47a-418a-a1fb-d4685ae72400",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "657ee4ce-d9c4-4df3-adc6-ef14647bafd7",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        656
      ],
      "id": "5554aa66-f2fa-477f-bf7a-2bc2674599d3",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/competitions",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        336
      ],
      "id": "91a402a6-2252-4121-b7e0-2d7c42822867",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        336
      ],
      "id": "28d01d01-a96b-4edc-8e8f-d4792e0e69be",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "maxItems": 50
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        880,
        336
      ],
      "id": "d5bf5741-4a27-4369-965a-a8e09884be74",
      "name": "Limit2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты -- эксперт-оценщик kaggle соревнований. Тебе дано соревнование:\n\nНазвание: {{ $json.competition_title }}\nСсылка: {{ $json.link }}\n\nИспользуй ОПИСАНИЕ соревнования и его ТЭГИ, чтобы определить, к какой сфере машинного обучения относится это соревнование: CLASSIC ML, LLM/NLP, CV или какая-то другая категория Other.\n\nОПИСАНИЕ: {{ $json.description }}\nТЭГИ: {{ $json.tags }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1344,
        544
      ],
      "id": "166b1c21-8863-4f79-9cba-8d623714e1df",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Title\": \"string\",\n    \"Link\": \"string\",\n    \"Date start\": \"string\",\n    \"Deadline\": \"string\",\n    \"Description\": \"string\",\n    \"Type\": \"string\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1552,
        800
      ],
      "id": "8cd5fac0-e628-4bf8-9fbd-caaa274ce911",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1552,
        992
      ],
      "id": "64a90233-412a-4617-b296-3d2ed9eab66e",
      "name": "OpenRouter Chat Model4"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1344,
        816
      ],
      "id": "6e7ae817-b719-47fe-94ed-0e2d3f808ac5",
      "name": "OpenRouter Chat Model5"
    },
    {
      "parameters": {
        "chatId": "448541908",
        "text": "=Kaggle соревнование:\n\nTitle: {{ $json.output.Title }}\nLink: {{ $json.output.Link }}\nDeadline: {{ $json.output.Deadline }}\nTheme: {{ $json.output.Type }}\n\nОписание: \n{{ $json.output.Description }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3440,
        128
      ],
      "id": "30b03108-f971-4995-873a-521730f16366",
      "name": "Send a text message2",
      "webhookId": "e07a5aa3-06ff-4348-807d-fcb26e6e5499",
      "credentials": {
        "telegramApi": {
          "id": "HQsQOxndfPcopH7P",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d24a81c2-a291-4fc2-b4f5-bf130608da1e",
              "leftValue": "={{ $json.output.Type }}",
              "rightValue": "LLM/NLP",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "0c7d939a-32e4-4dbf-bd4c-a932b317320f",
              "leftValue": "={{ $json.output.Type }}",
              "rightValue": "CV",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7be65351-ef00-4336-8037-d27ebdc5ac0c",
              "leftValue": "={{ $json.output.Type }}",
              "rightValue": "CLASSIC ML",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1392,
        320
      ],
      "id": "409efb69-5027-48c9-8451-d330629e37a4",
      "name": "Filter2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d7c43529-1799-4a0b-a741-e73d977fd749",
              "leftValue": "={{ $json.output[\"Date start\"] }}",
              "rightValue": "N/A",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1664,
        320
      ],
      "id": "7c086a0f-42be-4cf2-b5ed-16604845196f",
      "name": "Filter3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Перепиши описание kaggle соревнования на РУССКИЙ ЯЗЫК: {{ $json.description }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3248,
        352
      ],
      "id": "10cdc313-98c6-422a-b673-ad5f2a149141",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Title\": \"string\",\n    \"Link\": \"string\",\n    \"Date start\": \"string\",\n    \"Deadline\": \"string\",\n    \"Description\": \"string\",\n    \"Type\": \"string\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3440,
        640
      ],
      "id": "712ad982-ccd5-4759-b520-07d677f1e7b8",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3440,
        816
      ],
      "id": "a6d149a3-1482-483b-ae36-3d9163e6cd54",
      "name": "OpenRouter Chat Model6"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3248,
        640
      ],
      "id": "532abc0b-e91b-4f3a-a3dd-408aa2516d52",
      "name": "OpenRouter Chat Model7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1072,
        144
      ],
      "id": "99cf0c8c-8e82-4299-a9e2-502fc93261a4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COUNT(*)\nFROM\n  kaggle_competitions\nWHERE\n  status = 'new'\n  OR status = 'queued';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -720,
        144
      ],
      "id": "96e32d2e-b84e-4abf-ab71-03841931f05d",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "w9tRCdysEHVZnfq6",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1072,
        384
      ],
      "id": "f38e050c-d8eb-4f94-976b-89b79c247db7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "454840ee-049b-41c8-9535-83cf3393be00",
              "leftValue": 0,
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -480,
        144
      ],
      "id": "09efcb02-ea8f-4e9c-9807-7ab725842bd3",
      "name": "If"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2768,
        144
      ],
      "id": "ab76ee92-f552-4d14-8218-9cd8ff801d2f",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "38129e25-fc97-40d1-96e9-ee9d157c4166",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9103db679eecd46b75b1435147504e73bafd7c34178c3769e37858292b9a7fbe"
  },
  "id": "2NQYuMUu1ynoVTj8Bo3nt",
  "tags": []
}