KaggleCompetitions/KaggleCompetitions.json
{
  "name": "KaggleCompetitions",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        -144
      ],
      "id": "48c4e709-c410-4dc9-8602-1bee23a462eb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://localhost:8000/health",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        -144
      ],
      "id": "f7ff8f64-0a54-48a5-b4b8-ca8f15aadd0e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "657ee4ce-d9c4-4df3-adc6-ef14647bafd7",
              "leftValue": "",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        -144
      ],
      "id": "5db6f895-61fd-44d7-b4f3-250621d1b88e",
      "name": "If"
    },
    {
      "parameters": {
        "url": "http:localhost:8000/competitions",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        -288
      ],
      "id": "d8862d7c-0c73-4c9a-9aec-986b5a67a69a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "{{ $json[0].items }}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -288
      ],
      "id": "f3e84f99-f33b-4599-a336-112ebf007cd4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        624,
        -288
      ],
      "id": "77f52b35-c8bf-4487-b051-34611f3b6bb6",
      "name": "Limit"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        832,
        -288
      ],
      "id": "68f48c90-e9b3-4d1d-a9b8-64067b116b39",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        976,
        -80
      ],
      "id": "dba9b77c-2bf6-475b-8f93-5c5d3a5b1c24",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        912,
        128
      ],
      "id": "2dde751e-be64-45f5-b8dc-d27a4d1d887b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "83QmB5iRF2TuqiXX",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        720,
        -80
      ],
      "id": "7fe1eb22-8fe7-49a0-b445-3f0871403a51",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "83QmB5iRF2TuqiXX",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4c4089f0-411f-4afc-8990-d03ab057bc1e",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1216,
        -288
      ],
      "id": "a3cc307a-6270-4a70-8936-098a17706d0b",
      "name": "Filter"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1424,
        -288
      ],
      "id": "279e47eb-f82e-4b74-b508-73336d1ca4a5",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1392,
        16
      ],
      "id": "96128a02-b8f1-465e-8bbd-8071643e6e42",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "83QmB5iRF2TuqiXX",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1568,
        -80
      ],
      "id": "8d648ede-96b3-4e2c-b70c-a396e595b6ca",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "412fafaf-83c0-4cbc-940d-82cbf9d71e07",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1776,
        -288
      ],
      "id": "a4a42585-9a3d-44fa-87e6-3b448332175e",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO kaggle_competitions (title, link, date_start, deadline, status) \n  VALUES ('', '', '', '', 'new');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2032,
        -288
      ],
      "id": "f9f6b7da-41c4-4d93-b44e-16d01fbfc4f3",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "MYJ3D6GRloOG6cb8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  * \nFROM \n  kaggle_competitions \nWHERE \n  status = 'new' \n  OR status = 'queued' \nORDER BY \n  deadline \nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2256,
        -288
      ],
      "id": "38116652-b01c-4d8c-9625-3f23c0f477f6",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "MYJ3D6GRloOG6cb8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "448541908",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2464,
        -288
      ],
      "id": "7521cd24-6186-4168-9456-8d7f92ef6dc5",
      "name": "Send a text message",
      "webhookId": "e07a5aa3-06ff-4348-807d-fcb26e6e5499",
      "credentials": {
        "telegramApi": {
          "id": "HQsQOxndfPcopH7P",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \n  kaggle_competitions \nSET \n  status = 'shown' \nWHERE \n  title = '';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2672,
        -288
      ],
      "id": "b628813e-71e7-4f85-b86e-5ecb201eb8d3",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "MYJ3D6GRloOG6cb8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1616,
        96
      ],
      "id": "41bcdb21-84ac-4324-a0e2-9ae6bcb9c9a9",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "83QmB5iRF2TuqiXX",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4c3e3b81-0f28-4c55-8bdd-f316a06b21d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9103db679eecd46b75b1435147504e73bafd7c34178c3769e37858292b9a7fbe"
  },
  "id": "2NQYuMUu1ynoVTj8Bo3nt",
  "tags": []
}